@model Flats.Views.Manage.Objects

@{
    ViewBag.Title = "Object";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="lightbox_ubs">
    <div class="light_vlock_ubs">
    <div class="close_ubs_botton"></div>
    <div class="images-full_light_ubs">
        <img src="/Home/GetPictureFL1?id=@Model.ID">
    </div>
        <div class="images-small_light_block_ubs">
            <div class="images-small_light_ubs">
                <img src="/Home/GetPictureFL1?id=@Model.ID">
            </div>
            <div class="images-small_light_ubs">
                <img src="/Home/GetPictureFL1?id=@Model.ID">
            </div>
            <div class="images-small_light_ubs">
                <img src="/Home/GetPictureFL1?id=@Model.ID">
            </div>
            <div class="images-small_light_ubs">
                <img src="/Home/GetPictureFL1?id=@Model.ID">
            </div>
            <div class="images-small_light_ubs">
                <img src="/Home/GetPictureFL1?id=@Model.ID">
            </div>
            <div class="images-small_light_ubs">
                <img src="/Home/GetPictureFL1?id=@Model.ID">
            </div>
        </div>
    </div>
</div>
<div class="page_margin">
<div>
    <div class="page_block">
    <div class="titel_page">

      <h2>  @Html.DisplayFor(model => model.header) </h2>
    </div>
        <div class="page_adress">
            @Html.DisplayFor(model => model.address)
        </div>
        <div class="section_page">
            <div class="block_img_page">

                <div class="top_sec_img">
                    
                        <div class="firs_img_page">


                            <a class="fancybox-thumb" data-fancybox-group="thumb" href="/Home/GetPictureFL1/@Model.ID"> <img src="/Home/GetPictureFL1?id=@Model.ID"></a>


                        </div>

                        <div class="firs_img_page">
                            <a class="fancybox-thumb" data-fancybox-group="thumb" href="/Home/GetPictureFL2?id=@Model.ID">  <img src="/Home/GetPictureFL2?id=@Model.ID"></a>

                        </div>
                       
</div>
                <div class="down_sec_img">
                    <div class="second_img_page">
                        <a href="#img3"> <img id="foto1_pic" src="/Home/GetPictureF1?id=@Model.ID"></a>
                       
                        <a href="#img4"> <img id="foto1_pic" src="/Home/GetPictureF2?id=@Model.ID"></a>
                        
                        <a href="#img5">  <img id="foto1_pic" src="/Home/GetPictureF3?id=@Model.ID"></a>
                       
                        <a href="#img6">  <img id="foto1_pic" src="/Home/GetPictureF4?id=@Model.ID"></a>
                        
</div>
                    </div>
            </div>
            <div class="bron_right">
                <div class="bron_right_price">
                    @Html.DisplayFor(model => model.price1) @ViewBag.Translation["currency"]/@ViewBag.Translation["day"].ToString().ToLower()
                    </div>
                <div class="data_obertka">
                    <div class="data_in_obj my_obertka"><p class="zaez_viezd">@ViewBag.Translation["arrival"]</p><input type="text" class="datepicker" id="zaezd"></div>
                <div class="data_in_obj"> <p class="zaez_viezd">@ViewBag.Translation["departure"]</p><input type="text" class="datepicker" id="viezd"> </div>
                    </div>
                <div class="text_in_bron">@ViewBag.Translation["select_the_dates"]</div>
                <div class="podvinyli_knopky">    
                <div class="bottom_prew_1">
                    <a class="bottom_ac_prew" href="#" onclick="ShowBron(@Model.ID); $('#bron_date1').val($('#zaezd').val());$('#bron_date2').val($('#viezd').val());">@ViewBag.Translation["reserv_it"]</a>
                    </div>
                    </div>
                <div>
                    <div class="rateit" data-rateit-value="@Model.Rating.rating.ToString().Replace(',', '.')" data-rateit-ispreset="true" data-rateit-readonly="true"></div>

                    @Math.Round((Decimal)Model.Rating.rating, 1)
                </div>
                </div>
            
           
        </div>
        <div class="opisanie_page">
            <h2>@ViewBag.Translation["description_and_equipment"]</h2>
            @Html.DisplayFor(model => model.desc_body)
            </div>



        <div class="jile_page">
            <h2>@ViewBag.Translation["housing"]</h2>
            @foreach (var olc in ViewBag.obj_lc_list)
            {
                <div class="detail_page_0">
                    <div class="detail_page_1"><span>@olc.LiveConditions.lc_value</span></div>

                    <div class="detail_page_2">
                        <span>@olc._value</span>
                    </div>
                </div>
            }

    </div>

        <div class="atribute_page">
            <h2>@ViewBag.Translation["attributes"]</h2>
            @foreach (var oa in ViewBag.obj_attr_list)
            {
                <img src="/Home/GetAttrPic?id=@oa.attribute_id" />
            }
        </div>


        
    <hr />
        <dl class="dl-horizontal" style='display:none'>
            <dt>
                @Html.DisplayNameFor(model => model.type)
            </dt>

            <dd>
                @if (Model.type == 1)
                {
                    <span>@ViewBag.Translation["main_page_premium"]</span>
                }
                @if (Model.type == 2)
                {
                    <span>@ViewBag.Translation["main_page_standart"]</span>
                }
                @if (Model.type == 3)
                {
                    <span>@ViewBag.Translation["main_page_econom"]</span>
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.region_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Region.Naim)
            </dd>



            <dd>
                @Html.DisplayFor(model => model.header)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.rooms_count)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.rooms_count)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.guests_count)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.guests_count)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.price1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.price2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.price5)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price5)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.price14)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price14)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.desc_body)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.desc_body)
            </dd>
        </dl>
        

    <div class="down_bron">
        <div id="datepicker_1" ></div>
        <div id="datepicker_2" ></div>
        <div class="bron_right">
            <div class="bron_right_price">
                @ViewBag.Translation["order_details"]
            </div>
            <div class="data_obertka">
                <div class="data_in_obj my_obertka"><p class="zaez_viezd">@ViewBag.Translation["arrival"]</p><input type="text" class="datepicker" id="zaezd_footer"></div>
                <div class="data_in_obj"> <p class="zaez_viezd">@ViewBag.Translation["departure"]</p><input type="text" class="datepicker" id="viezd_footer"> </div>
            </div>
            <div class="text_in_bron">@ViewBag.Translation["select_the_dates"]</div>
            <div class="podvinyli_knopky">
                <div class="bottom_prew_1">
                    <a class="bottom_ac_prew" href="#" onclick="ShowBron(@Model.ID); $('#bron_date1').val($('#zaezd_footer').val());$('#bron_date2').val($('#viezd_footer').val());">@ViewBag.Translation["reserv_it"]</a>
                </div>
            </div>

        </div>
                </div>
               
            </div>
    <div class="down_otziw">
        <h1 class="otzivi">@ViewBag.Translation["main_page_reviews"]</h1>



        <div id="carousel-slide">
           
            <div id="slides-car">
                
                <ul>
                    
                    @foreach (var review_item in ViewBag.rw_list)
                    {
                        <li class="slide-car">
                            <div class="quoteContainer">
                                <p class="quote-phrase"><span class="quote-marks">"</span> @review_item.body<span class="quote-marks">"</span> </p>
                            </div>
                            <div class="authorContainer">
                                <p class="quote-author">@review_item.Name @review_item.Surname</p>
                            </div>
                            
                            @ViewBag.Translation["rating"]: <div class="rateit" data-rateit-value="@review_item.total.ToString().Replace(',', '.')" data-rateit-ispreset="true" data-rateit-readonly="true"></div> @review_item.total

                        </li>
                    }

                </ul>
            </div>
            <div class="btn-bar">
                <div id="buttons"><a id="prev-car" href="#"><</a> </div>
            </div>
            <div class="btn-bar">
                <div id="buttons"><a id="next-car" href="#">></a> </div>
            </div>
        </div>



       
    </div>

</div>
    <p>
        <a href="/Home/ReViewDetails/@Model.ID">@ViewBag.Translation["all_comments"]</a>
    </p>
<p>
    <a href="" onclick="history.back()">@ViewBag.Translation["return_to_list"]</a>
</p>
</div>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function () {
        //rotation speed and timer
        var speed = 5000;

        var run = setInterval(rotate, speed);
        var slides = $('.slide-car');
        var container = $('#slides-car ul');
        var elm = container.find(':first-child').prop("tagName");
        var item_width = container.width();
        var previous = 'prev-car'; //id of previous button
        var next = 'next-car'; //id of next button
        slides.width(item_width); //set the slides to the correct pixel width
        container.parent().width(item_width);
        container.width(slides.length * item_width); //set the slides container to the correct total width
        container.find(elm + ':first').before(container.find(elm + ':last'));
        resetSlides();


        //if user clicked on prev button

        $('#buttons a').click(function (e) {
            //slide the item

            if (container.is(':animated')) {
                return false;
            }
            if (e.target.id == previous) {
                container.stop().animate({
                    'left': 0
                }, 1500, function () {
                    container.find(elm + ':first').before(container.find(elm + ':last'));
                    resetSlides();
                });
            }

            if (e.target.id == next) {
                container.stop().animate({
                    'left': item_width * -1
                }, 1500, function () {
                    container.find(elm + ':last').after(container.find(elm + ':first'));
                    resetSlides();
                });
            }

            //cancel the link behavior
            return false;

        });

        //if mouse hover, pause the auto rotation, otherwise rotate it
        container.parent().mouseenter(function () {
            clearInterval(run);
        }).mouseleave(function () {
            run = setInterval(rotate, speed);
        });


        function resetSlides() {
            //and adjust the container so current is in the frame
            container.css({
                'left': 0
            });
        }

    });
    //a simple function to click next link
    //a timer will call this function, and the rotation will begin

    function rotate() {
        $('#next-car').click();
    }
</script>