@model Flats.Views.Manage.Rating

@{
    ViewBag.Title = "ReViewDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function SetImage(obj, target_name) {
        $('#' + target_name).attr('src', $(obj).attr('src'));
    };

    function AddReview(obj_num) {
        $('#black_layer').height($(document).height() + 50);
        $('.rw_table textarea').val('');
        $('#black_layer').show();
        $('html, body').animate({ scrollTop: 0 }, 'slow');
        $('#rw_submit_obj_id').val(obj_num);
    };

</script>
@{
    <div class="preview_obj">
        <div class="name_obj_prew"><h2>@Html.DisplayFor(modelItem => Model.Naim)</h2></div>
        <div class="street_prew">@Html.DisplayFor(modelItem => Model.address)</div>
        <table class="prew_table">
            <tr>
                <td class="prew_large_foto_td">
                    <img id="prew_large_foto_@Model.ID" src="/Home/GetPictureFL1?id=@Model.ID" class="prew_table_main_pic" />
                </td>
                <td>
                    <table class="prew_large_foto_minipics_table">
                        <tr>
                            <td>
                                <img src="/Home/GetPictureFL1?id=@Model.ID" class="prev_mini_pics foto1_mini_pic" onclick="SetImage(this, 'prew_large_foto_@Model.ID')">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/Home/GetPictureFL2?id=@Model.ID" class="prev_mini_pics" onclick="SetImage(this, 'prew_large_foto_@Model.ID')">
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="rating_table">
                        <tr>
                            <td class="rating_table_head">
                                Общая оценка жильцов
                            </td>
                        </tr>
                        <tr>
                            <td class="prew_total">
                                <div class="rateit" data-rateit-value="@Math.Round(Model.rating.Value, 1).ToString().Replace(',', '.')" data-rateit-ispreset="true" data-rateit-readonly="true"></div>

                                @Math.Round(Model.rating.Value, 1).ToString().Replace(',', '.')
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td class="rating_table_td_key">Цена:</td>
                                        <td class="rating_table_td_value">
                                            <div class="rateit" data-rateit-value="@Model.price.Value.ToString().Replace(',', '.')" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td class="rating_table_td_key">Чистота:</td>
                                        <td class="rating_table_td_value">
                                            <div class="rateit" data-rateit-value="@Model.cleaness.Value.ToString().Replace(',', '.')" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td class="rating_table_td_key">Услуги:</td>
                                        <td class="rating_table_td_value">
                                            <div class="rateit" data-rateit-value="@Model.services.Value.ToString().Replace(',', '.')" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td class="rating_table_td_key">Комфорт:</td>
                                        <td class="rating_table_td_value">
                                            <div class="rateit" data-rateit-value="@Model.comfort.Value.ToString().Replace(',', '.')" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td class="rating_table_td_key">Расположение:</td>
                                        <td class="rating_table_td_value">
                                            <div class="rateit" data-rateit-value="@Model.region.Value.ToString().Replace(',', '.')" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <div class="add_review" date-id="@Model.ID" onclick="AddReview(@Model.ID);">
            ДОБАВИТЬ ОТЗЫВ
        </div>

        <h3>Отзывы</h3>

        @foreach (var rw in ViewBag.rw_list)
        { 
            <ul>
                <li>Дата: @rw.data</li>
                <li>ФИО: @rw.Name @rw.Surname</li>
                <li>Текст: @rw.header @rw.body</li>
                <li>Общий: @rw.total</li>
                <li>Цена: @rw.price</li>
                <li>Чистота: @rw.cleaness</li>
                <li>Услуги: @rw.services</li>
                <li>Комфорт: @rw.comfort</li>
                <li>Расположение: @rw.region</li>
            </ul>
        }
    </div>
}


