<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Аренда квартир посуточно</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="../Content/slider.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">





</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #f4f4f4;border-color: #f4f4f4;">
        <div class="header-info_conteiner">

            <div class="logo">
                <a href="/"> <img src="/../img/logo.png" alt="Логотип"></a>
            </div>
            <div class="site_title">
                <p>аренда квартир посуточно</p>
            </div>
            <div class="phone-block">
                <p class="phone_1">@ViewBag.settings["tel1"]</p>
                <p class="phone_2">@ViewBag.settings["tel2"]</p>
                <p class="mail">@ViewBag.settings["email"]</p>
            </div>
            <div class="lang">
                NL
                TU
                DE
                EN
                RU
            </div>

        </div>
        <div class="information">
            <div class="info-inner">
                <marquee behavior="scroll" direction="left">
                    Custom code this
                </marquee>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="hide-show" href="#">Поиск<img src="/../img/loop.png" width="25"></a></li>
                    @if (ViewBag.ActiveMenu == "premium")
                    { 
                        <li>@Html.ActionLink("Премиум", "Premium", "Home", new { @class = "active"})</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Премиум", "Premium", "Home")</li>
                    }
                    @if (ViewBag.ActiveMenu == "standart")
                    {
                        <li>@Html.ActionLink("Стандарт", "Standart", "Home", new { @class = "active" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Стандарт", "Standart", "Home")</li>
                    }
                    @if (ViewBag.ActiveMenu == "econom")
                    {
                        <li>@Html.ActionLink("Эконом", "Econom", "Home", new { @class = "active" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Эконом", "Econom", "Home")</li>
                    }
                    @if (ViewBag.ActiveMenu == "reviews")
                    {
                        <li>@Html.ActionLink("Отзывы", "ReViews", "Home", new { @class = "active" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Отзывы", "ReViews", "Home")</li>
                    }

                    @if (ViewBag.ActiveMenu == "contacts")
                    {
                        <li>@Html.ActionLink("Контакты", "Contacts", "Home", new { @class = "active" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Контакты", "Contacts", "Home")</li>
                    }
                </ul>

                <form action="/Home/Search" method="get" class="customForm" enctype="multipart/form-data">

                    <div class="searchbox">
                        <div class="select">
                            <a href="#" class="slct">Регион</a>
                            <ul class="drop">


                                @{

                                    foreach (var region in ViewBag.regions)
                                    {
                                        <li>@region.Naim</li>
                                    }

                                }

                            </ul>
                            <input type="hidden" id="select" name="region"/>
                        </div>


                        <div class="select">
                            <a href="#" class="slct_2">Количество комнат</a>
                            <ul class="drop_2">

                                <li>1 комната</li>
                                <li>2 комнаты</li>
                                <li>3 комнаты</li>
                                <li>4 комнаты</li>
                                <li>5 комнат</li>

                            </ul>
                            <input type="hidden" id="select_2" name="rooms" />
                        </div>
                        <div class="select">
                            <a href="#" class="slct_3">Количество гостей</a>
                            <ul class="drop_3">

                                <li>1 человек</li>
                                <li>2 человека</li>
                                <li>3 человека</li>
                                <li>4 человека</li>
                                <li>5 человек</li>
                                <li>6 человек</li>
                                <li>7 человек</li>
                                <li>8 человек</li>

                            </ul>
                            <input type="hidden" id="select_3" name="guests" />
                        </div>

                        <input type="date" id="zaezd" placeholder="Заезд" />
                        <input type="date" id="viezd" placeholder="Выезд" />


                        <div class="my_slider">
                            <p>
                                <input type="text" id="amount" name="amount" readonly style="border:0; color:#C32361; font-weight:bold;">
                            </p>

                            <div id="slider-range"></div>
                        </div>
                        <button class="search_btn">Найти</button>
                </form>

                </div>
            </div>



    </div>
        <div class="seperator"></div>
    </div>
    <div class="left-plashka">
        <div class="temp">
            <img src="@ViewBag.temperature_pic" width="48" height="48" />
            <span>@ViewBag.temperature_value&deg;C </span>
        </div>
        <div class="seperator"></div>
        <div class="kyrsi">
        <div class="value_usd">$:@ViewBag.UsdRate @ViewBag.UsdDir</div>
        <div class="value_eur">€:@ViewBag.EurRate @ViewBag.EurDir</div>
            </div>
        <div class="seperator"></div>
    <ul>
        @{
            if (ViewBag.pages_list != null) { 
                foreach (var item in ViewBag.pages_list)
                { 
                    <li><a href="/Pages/Index/@item.Alias">@item.Naim</a></li>
                }
            }
        }
    </ul>
         
    </div>
    @{String div_class = "";} 
    @if (ViewBag.isMainPage) 
    {
        div_class = "inneer-content";
    }
    else
    {
        div_class = "inneer-content_sec";
    }
    <div class="@div_class">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – Спасибо</p>
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 500,
                values: [75, 300],
                slide: function (event, ui) {
                    $("#amount").val("от " + ui.values[0] + " грн. до " + ui.values[1] + " грн.");
                }
            });
            $("#amount").val("от " + $("#slider-range").slider("values", 0) +
              " грн. до " + $("#slider-range").slider("values", 1) + " грн.");
        });
    </script>
    <script src="~/Scripts/spoiler.js"></script>
    <script type="text/javascript">
        $().ready(function () {
            $('.faq').makeFAQ({
                indexTitle: "Содержание",
                displayIndex: true,
                faqHeader: "h2"


            });
        });
    </script>
    <script src="~/Scripts/form-scripts.js"></script>


    <script src="~/Scripts/jquery.slides.min.js"></script>
    <script>
        $(function () {
            $('#slides').slidesjs({
                width: 940,
                height: 528,
                play: {
                    active: true,
                    auto: true,
                    interval: 4000,
                    swap: true
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("a.hide-show").click(function () {
                $(".searchbox").toggle(100);
            });
        });
    </script>

   
    @RenderSection("scripts", required: false)
    </body>
    </html>
