<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Административная часть</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/ubs-admin.css" rel="stylesheet">
    <script src="~/Scripts/tabs-script.js" type='text/javascript'></script>
</head>
<body>
    <div class="left-nav_admin">
        @Html.Partial("_LoginPartial")
        <div class="admin-menu">
            <ul class="admin-nav">
                <li>@Html.ActionLink("Перейти на сайт", "Index", "Home")</li>
                <li>@Html.ActionLink("Общие настройки", "Index", "Admin")</li>
                <li>@Html.ActionLink("Объекты", "Objects", "Admin")</li>
                <li>@Html.ActionLink("Медиа", "Index", "Admin")</li>
                <li>@Html.ActionLink("Страницы", "PagesList", "Admin")</li>
                <li>@Html.ActionLink("Языки", "Languages", "Admin")</li>
            </ul>
        </div>
    
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.wysiwyg.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

