<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Аренда квартир посуточно</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="../Content/slider.css" rel="stylesheet">
   
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="header-info_conteiner">
        
            <div class="logo">
                <a href="/"> <img src="/../img/logo.png" alt="Логотип"></a>
            </div>
            <div class="site_title">
                <p>аренда квартир посуточно</p>
            </div>
            <div class="phone-block">
            <p class="phone_1">+38 063 864 68 96</p>
            <p class="phone_2">+38 063 511 13 82</p>
            <p class="mail">info@stay-in-odessa.com</p>
            </div>
            <div class="lang">
            NL 
            TU
            DE
            EN
            RU
            </div>   
        
        </div>
        <div class="information">
            <div class="info-inner">
                Custom code this
            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   
                        <li><a class="hide-show" href="#">Поиск</a></li>
                        <li>@Html.ActionLink("Премиум", "Premium", "Home")</li>
                        <li>@Html.ActionLink("Стандарт", "Standart", "Home")</li>
                        <li>@Html.ActionLink("Эконом", "Econom", "Home")</li>
                        <li>@Html.ActionLink("Отзывы", "ReViews", "Home")</li>
                        <li>@Html.ActionLink("Контакты", "Contacts", "Home")</li>
</ul>
                <div class="searchbox">
                   Select_1
                </div>
            </div>
       
            

         </div>
       
    </div>
    <div class="left-plashka">
    Custom test
    </div>
    <div class="inneer-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – Спасибо</p>
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.slides.min.js"></script>
    <script>
        $(function () {
            $('#slides').slidesjs({
                width: 940,
                height: 528,
                play: {
                    active: true,
                    auto: true,
                    interval: 4000,
                    swap: true
                }
            });
        });
    </script>
    
    <script>
        $(document).ready(function () {
            $("a.hide-show").click(function () {
                $(".searchbox").toggle(100);
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
