<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Аренда квартир посуточно</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="../Content/slider.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/rateit.css" />




</head>
<body>

    <div id="black_layer">
        <div class="black_layer_close" onclick="$('#black_layer').hide();">X</div>
        <div id="addReviewContainer">
            <table class="rw_table">
                <tr>
                    <td>
                        <table class="rw_table_query">
                            <tr>
                                <td>
                                    <input type="text" name="name" value="" placeholder=" Имя" id="rw_name"/>
                                </td>
                                <td class="empty_td"></td>
                                <td>
                                    <input type="text" name="surname" value="" placeholder=" Фамилия" id="rw_surname" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <textarea placeholder=" Напишите комментарий..." id="rw_comment"></textarea>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="rw_rating">
                            <tr>
                                <td colspan="2" class="rw_rating_header">
                                    Оценка квартиры
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="rw_rating_total">
                                    <div class="rateit" data-rateit-value="0.0" data-rateit-ispreset="true" data-rateit-readonly="true" id="ratetotal"></div>
                                    <span id="rate_total_text"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Цена</td>
                                <td class="rate_val">
                                    <div class="rateit" id="rateprice" step="1"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>Чистота:</td>
                                <td class="rate_val">
                                    <div class="rateit" id="rateclean"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>Услуги:</td>
                                <td class="rate_val">
                                    <div class="rateit" id="rateservices"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>Комфорт:</td>
                                <td class="rate_val">
                                    <div class="rateit" id="ratecomfort"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>Расположение:</td>
                                <td class="rate_val">
                                    <div class="rateit" id="rateregion"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <form action="/Home/SaveReview" method="post" id="rw_send_form">
                                        <input type="hidden" name="id" value="" id="rw_submit_obj_id" />
                                        <input type="hidden" name="name" value="" id="rw_submit_name"/>
                                        <input type="hidden" name="surname" value="" id="rw_submit_surname" />
                                        <input type="hidden" name="text" value="" id="rw_submit_text" />
                                        <input type="hidden" name="total" value="" id="rw_submit_name_total" />
                                        <input type="hidden" name="region" value="" id="rw_submit_region" />
                                        <input type="hidden" name="comfort" value="" id="rw_submit_comfort" />
                                        <input type="hidden" name="clean" value="" id="rw_submit_clean" />
                                        <input type="hidden" name="price" value="" id="rw_submit_price" />
                                        <input type="hidden" name="services" value="" id="rw_submit_services" />
                                        <div class="black_add_review">Оставить отзыв</div>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="bron">
        
          <div class="bron_in">
              <div class="born_plashka">Бронирование</div>
        <div class="black_layer_close" onclick="$('#bron').hide();">X</div>
        <form method="post" action="/Home/SendBron" id="BronForm">
            <input type="hidden" name="id" value="" id="bron_id" />
            <div class="bron_p_1"> <div class="bron_p">Имя</div><input type="text" name="name" value="" /></div>
            <div class="bron_p_1">
                <div class="bron_p">Фамилия</div><input type="text" name="surname" value="" />
            </div>
            <div class="bron_p_1">
                <div class="bron_p">E-mail</div><input type="email" name="email" value="" />
            </div>
            <div class="bron_p_1">
                <div class="bron_p">Телефон</div><input type="tel" name="phone" value="" />
            </div>
            <div class="bron_p_1">
                <div class="bron_p">Кол-во гостей</div><div class="chubzik"></div><input class="col-gos_input" type="number" name="kolvo" value="" />
            </div>
                <input type="hidden" name="date1" value="" id="bron_date1" />
                <input type="hidden" name="date2" value="" id="bron_date2" />
                <input class="sent_bron_btn" type="submit" value="Отправить" />
</form>
              </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #f4f4f4;border-color: #f4f4f4;">
        <div class="header-info_conteiner">

            <div class="logo">
                <a href="/"> <img src="/../img/logo.png" alt="Логотип"></a>
            </div>
            <div class="site_title">
                <p>аренда квартир посуточно</p>
            </div>
            <div class="phone-block">
                <p class="phone_1">@ViewBag.settings["tel1"]</p>
                <p class="phone_2">@ViewBag.settings["tel2"]</p>
                <p class="mail">@ViewBag.settings["email"]</p>
            </div>
            <div class="lang">
                NL
                TU
                DE
                EN
                RU
            </div>

        </div>
        <div class="information">
            <div class="info-inner">
                <marquee behavior="scroll" direction="left">
                    Custom code this
                </marquee>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="hide-show" href="#">Поиск<img src="/../img/loop.png" width="25"></a></li>
                    @if (ViewBag.ActiveMenu == "premium")
                    { 
                        <li>@Html.ActionLink("Премиум", "Premium", "Home", new { @class = "active"})</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Премиум", "Premium", "Home")</li>
                    }
                    @if (ViewBag.ActiveMenu == "standart")
                    {
                        <li>@Html.ActionLink("Стандарт", "Standart", "Home", new { @class = "active" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Стандарт", "Standart", "Home")</li>
                    }
                    @if (ViewBag.ActiveMenu == "econom")
                    {
                        <li>@Html.ActionLink("Эконом", "Econom", "Home", new { @class = "active" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Эконом", "Econom", "Home")</li>
                    }
                    @if (ViewBag.ActiveMenu == "reviews")
                    {
                        <li>@Html.ActionLink("Отзывы", "ReViews", "Home", new { @class = "active" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Отзывы", "ReViews", "Home")</li>
                    }

                    @if (ViewBag.ActiveMenu == "contacts")
                    {
                        <li>@Html.ActionLink("Контакты", "Contacts", "Home", new { @class = "active" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Контакты", "Contacts", "Home")</li>
                    }
                </ul>
               
                <form action="/Home/Search" method="get" class="customForm" enctype="multipart/form-data">

                    <div class="searchbox">
                        <div class="select">
                            <a href="#" class="slct">Регион</a>
                            <ul class="drop">


                                @{

                                    foreach (var region in ViewBag.regions)
                                    {
                                        <li>@region.Naim</li>
                                    }

                                }

                            </ul>
                            <input type="hidden" id="select" name="region"/>
                        </div>


                        <div class="select">
                            <a href="#" class="slct_2">Количество комнат</a>
                            <ul class="drop_2">

                                <li>1 комната</li>
                                <li>2 комнаты</li>
                                <li>3 комнаты</li>
                                <li>4 комнаты</li>
                                <li>5 комнат</li>

                            </ul>
                            <input type="hidden" id="select_2" name="rooms" />
                        </div>
                        <div class="select">
                            <a href="#" class="slct_3">Количество гостей</a>
                            <ul class="drop_3">

                                <li>1 человек</li>
                                <li>2 человека</li>
                                <li>3 человека</li>
                                <li>4 человека</li>
                                <li>5 человек</li>
                                <li>6 человек</li>
                                <li>7 человек</li>
                                <li>8 человек</li>

                            </ul>
                            <input type="hidden" id="select_3" name="guests" />
                        </div>

                        <input type="text" class="datepicker" placeholder="Заезд" >
                        <input type="text" class="datepicker" placeholder="Выезд">

                       
                        <div class="my_slider">
                            <p>
                                <input type="text" id="amount" name="amount" readonly style="border:0; color:#C32361; font-weight:bold;">
                            </p>

                            <div id="slider-range"></div>
                        </div>
                        <button class="search_btn">Найти</button>
                </form>

                </div>
            </div>



    </div>
        <div class="seperator"></div>
    <div class="massage" id="message"></div>
    </div>
    <div class="left-plashka">
        <div class="temp">
            <img src="@ViewBag.temperature_pic" width="48" height="48" />
            <span>@ViewBag.temperature_value&deg;C </span>
        </div>
        <div class="seperator"></div>
        <div class="kyrsi">
        <div class="value_usd">$:@ViewBag.UsdRate @ViewBag.UsdDir</div>
        <div class="value_eur">€:@ViewBag.EurRate @ViewBag.EurDir</div>
            </div>
        <div class="seperator"></div>
    <ul>
        @{
            if (ViewBag.pages_list != null) { 
                foreach (var item in ViewBag.pages_list)
                { 
                    <li><a href="/Pages/Index/@item.Alias">@item.Naim</a></li>
                }
            }
        }
    </ul>
         
    </div>
    @{String div_class = "";} 
    @if (ViewBag.isMainPage) 
    {
        div_class = "inneer-content";
    }
    else
    {
        div_class = "inneer-content_sec";
    }
    <div class="@div_class">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – Спасибо</p>
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
   
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
   
    
    <script src="~/Scripts/jquery.rateit.js"></script>
    <script>
    $(document).ready(function () {
        //rotation speed and timer
        var speed = 5000;

        var run = setInterval(rotate, speed);
        var slides = $('.slide-car');
        var container = $('#slides-car ul');
        var elm = container.find(':first-child').prop("tagName");
        var item_width = container.width();
        var previous = 'prev-car'; //id of previous button
        var next = 'next-car'; //id of next button
        slides.width(item_width); //set the slides to the correct pixel width
        container.parent().width(item_width);
        container.width(slides.length * item_width); //set the slides container to the correct total width
        container.find(elm + ':first').before(container.find(elm + ':last'));
        resetSlides();


        //if user clicked on prev button

        $('#buttons a').click(function (e) {
            //slide the item

            if (container.is(':animated')) {
                return false;
            }
            if (e.target.id == previous) {
                container.stop().animate({
                    'left': 0
                }, 1500, function () {
                    container.find(elm + ':first').before(container.find(elm + ':last'));
                    resetSlides();
                });
            }

            if (e.target.id == next) {
                container.stop().animate({
                    'left': item_width * -1
                }, 1500, function () {
                    container.find(elm + ':last').after(container.find(elm + ':first'));
                    resetSlides();
                });
            }

            //cancel the link behavior
            return false;

        });

        //if mouse hover, pause the auto rotation, otherwise rotate it
        container.parent().mouseenter(function () {
            clearInterval(run);
        }).mouseleave(function () {
            run = setInterval(rotate, speed);
        });


        function resetSlides() {
            //and adjust the container so current is in the frame
            container.css({
                'left': 0
            });
        }

    });
    //a simple function to click next link
    //a timer will call this function, and the rotation will begin

    function rotate() {
        $('#next-car').click();
    }
    </script>
    <script>
    $(function () {
        $("#datepicker").datepicker();
        $("#datepicker_1").datepicker();
        $("#datepicker_2").datepicker();
    });
    </script>
    
    <script>
        $(function () {
            $.datepicker.regional['ru'] = {
                closeText: 'x', // set a close button text
                currentText: 'Oggi', // set today text
                monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'], // set month names
                monthNamesShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'], // set short month names
                dayNames: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'], // set days names
                dayNamesShort: ['Вск', 'Пон', 'Втр', 'Срд', 'Чтв', 'Пят', 'Суб'], // set short day names
                dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'], // set more short days names
                dateFormat: 'dd/mm/yy' // set format date
            };

            $.datepicker.setDefaults($.datepicker.regional['ru']);

            $(".datepicker").datepicker();
            $("#datepicker_1").datepicker();
            $('#datepicker_1').datepicker('option', 'onSelect', function (dateText, inst) { $('#zaezd_footer').val(dateText); });
            $("#datepicker_2").datepicker();
            $('#datepicker_2').datepicker('option', 'onSelect', function (dateText, inst) { $('#viezd_footer').val(dateText); });

        
    });
    </script>
    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 500,
                values: [75, 300],
                slide: function (event, ui) {
                    $("#amount").val("от " + ui.values[0] + " грн. до " + ui.values[1] + " грн.");
                }
            });
            $("#amount").val("от " + $("#slider-range").slider("values", 0) +
              " грн. до " + $("#slider-range").slider("values", 1) + " грн.");
        });
    </script>
    <script src="~/Scripts/spoiler.js"></script>
    <script type="text/javascript">
        $().ready(function () {
            $('.faq').makeFAQ({
                indexTitle: "Содержание",
                displayIndex: true,
                faqHeader: "h2"


            });
        });
    </script>
    <script src="~/Scripts/form-scripts.js"></script>


    <script src="~/Scripts/jquery.slides.min.js"></script>
    <script>
        $(function () {
            $('#slides').slidesjs({
                width: 940,
                height: 528,
                play: {
                    active: true,
                    auto: true,
                    interval: 4000,
                    swap: true
                }
            });
        });
    </script>
    
   
    <script>
        $(document).ready(function () {
            $("a.hide-show").click(function () {
                $(".searchbox").toggle(100);
            });
        });
    </script>
    <script>
    $(document).ready(function () {
        $(function () { $('.rateit').rateit({step: 1}); });
        $('.rateit').click(function () {
            var price = $('#rateprice').rateit('value');
            var clean = $('#rateclean').rateit('value');
            var services = $('#rateservices').rateit('value');
            var comfort = $('#ratecomfort').rateit('value');
            var region = $('#rateregion').rateit('value');
            var total = (price + clean + services + comfort + region) / 5;
            $('#ratetotal').rateit('value', total);
            $('#rate_total_text').text(total);
        });

        $('.black_add_review').click(function () {
            var price = $('#rateprice').rateit('value');
            var clean = $('#rateclean').rateit('value');
            var services = $('#rateservices').rateit('value');
            var comfort = $('#ratecomfort').rateit('value');
            var region = $('#rateregion').rateit('value');
            var total = (price + clean + services + comfort + region) / 5;

            $("#rw_submit_name").val($('#rw_name').val());
            $("#rw_submit_surname").val($('#rw_surname').val());
            $("#rw_submit_text").val($('#rw_comment').val());

            $("#rw_submit_name_total").val(total);
            $("#rw_submit_region").val(region);
            $("#rw_submit_comfort").val(comfort);
            $("#rw_submit_clean").val(clean);
            $("#rw_submit_price").val(price);
            $("#rw_submit_services").val(services);

            $('#rw_send_form').submit();
        });
        $('#BronForm').submit(function (e,n) {
            e.preventDefault();
            var formData = new FormData($(this)[0]);
            $.ajax({
                url: "/Home/SendBron",
                type: "POST",
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (returndata) {
                    ShowMess("Запрос на бронирование отправлен.");
                    $('#bron').hide();
                }
            });
        });
        $('#datepicker').datepick({
            rangeSelect: true, monthsToShow: 2, showTrigger: '#calImg'
        });

    });
    function ShowBron(id)
    {
        $('#bron_id').val(id);
        $('#bron').show();

    }
    function ShowMess(mess) {
        $('#message').text(mess);
        $('#message').show();
    }
    </script>
   
  
   
   
    @RenderSection("scripts", required: false)
    </body>
    </html>
