
@{
    ViewBag.Title = "CreateObjects";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Создать объект</h2>
<form method="post" action="/Admin/CreateObjects" enctype="multipart/form-data">
    <input type="submit" value="Записать" />
    <ul class="tabs">
        <li><a href="#">Общие</a></li>
        <li><a href="#">Жизненные условия</a></li>
        <li><a href="#">Атрибуты</a></li>
        <li><a href="#">Медиа</a></li>
        <li><a href="#">Описание</a></li>
    </ul>

    <!-- tab "panes" -->
    <div class="panes">
        <div>
            <h2>Общие</h2>
            <p>
                Заголовок
                <input type="text" name="header" />
                Адрес
                <input type="text" name="address" />
                Район
                @{
                    List<SelectListItem> list = new List<SelectListItem>();
                    if (list != null)
                    {
                        foreach (var region in ViewBag.regions)
                        {
                            list.Add(new SelectListItem() { Text = region.Naim, Value = region.ID.ToString() });//Заполняем его
                        }
                    }
                }
                @Html.DropDownList("Region", list, new { id = "regions" })

                ТипКвартиры
                @{
                    List<SelectListItem> list_rooms = new List<SelectListItem>();
                    list_rooms.Add(new SelectListItem() { Text = "Премиум", Value = "1" });
                    list_rooms.Add(new SelectListItem() { Text = "Стандарт", Value = "2" });
                    list_rooms.Add(new SelectListItem() { Text = "Эконом", Value = "3" });
                }
                @Html.DropDownList("FlatType", list_rooms, new { id = "flat_type" })
                Количество  комнат
                <input type="number" name="rooms_count" />
                Количество  спальных мест
                <input type="number" name="guests_count" />
                Цена (1 сутки)
                <input type="number" name="price1" />
                Цена (2-4 суток)
                <input type="number" name="price2" />
                Цена (5+ суток)
                <input type="number" name="price5" />
                Цена (14+ суток)
                <input type="number" name="price14" />
            </p>

        </div>

        <div class="les">
            <h2>Жизненные условия</h2>
            <div>
                @{
                    if (ViewBag.lc_lst != null)
                    {
                        foreach (var lc in ViewBag.lc_lst)
                        {
                            <input type="checkbox" value="" name="lc_@lc.id"/>
                            <label for="lc_@lc.id">@lc.lc_value</label>
                            <input type="text" value="" name="lc_val_@lc.id"/>
                        }
                    }
                }
            </div>

        </div>
        <div class="les">
            <h2>Атрибуты</h2>
            <div style="height:100px; display:block;">
                @{
                    int i = 0;
                    if (ViewBag.attrs != null)
                    {
                        foreach (var attr in ViewBag.attrs)
                        {
                            <input type="checkbox" value="" name="attr_@attr.id" style="width:30px;"/>
                            <label for="attr_@attr.id">@attr.attr_key</label>
                            <img src="@ViewBag.pics[i]" alt=""/>                            
                            i++;
                        }                        
                    }
                }
            </div>

        </div>

        <div class="les">
            <h2>Медиа</h2>
            <h3>Большие фото</h3>
            <input type="file" name="large_foto1" id="large_foto1" />
            <img id="large_foto1_pic" style="max-width:200px; max-height:100px;"/>
            <button onclick="clear_pic('#large_foto1_pic', '#large_foto1', event);">[x]</button>
            <input type="file" name="large_foto2" id="large_foto2" />
            <img id="large_foto2_pic" style="max-width:200px; max-height:100px;" />
            <button onclick="clear_pic('#large_foto2_pic', '#large_foto2', event);">[x]</button>

            <h3>Маленькие фото</h3>
            <input type="file" name="foto1" id="foto1" />
            <img id="foto1_pic" style="max-width:200px; max-height:100px;" />
            <button onclick="clear_pic('#foto1_pic', '#foto1', event);">[x]</button>
            <input type="file" name="foto2" id="foto2" />
            <img id="foto2_pic" style="max-width:200px; max-height:100px;" />
            <button onclick="clear_pic('#foto2_pic', '#foto2', event);">[x]</button>
            <input type="file" name="foto3" id="foto3" />
            <img id="foto3_pic" style="max-width:200px; max-height:100px;" />
            <button onclick="clear_pic('#foto3_pic', '#foto3', event);">[x]</button>
            <input type="file" name="foto4" id="foto4" />
            <img id="foto4_pic" style="max-width:200px; max-height:100px;" />
            <button onclick="clear_pic('#foto4_pic', '#foto4', event);">[x]</button>
        </div>

        <div class="les">
            <h2>Описание</h2>
            <textarea name="desc"   style="height:300px;"></textarea>
            
        </div>

    </div>


</form>

<script>



$(function() {

	$("ul.tabs").tabs("div.panes > div");
});
</script> 

@section Scripts{
    <script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        function readURL(input, pic_id) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(pic_id).attr('src', e.target.result);
                   // $(pic_id + "_show").attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        function clear_pic(pic_id, inpit_id, e)
        {
            e.preventDefault();
            $(pic_id).attr('src', '');
            $(inpit_id).val(null);
        }
        $(document).ready(function () {
            $("#large_foto1").change(function () {
                readURL(this, "#large_foto1_pic");
            });
            $("#large_foto2").change(function () {
                readURL(this, "#large_foto2_pic");
            });
            $("#foto1").change(function () {
                readURL(this, "#foto1_pic");
            });
            $("#foto2").change(function () {
                readURL(this, "#foto2_pic");
            });
            $("#foto3").change(function () {
                readURL(this, "#foto3_pic");
            });
            $("#foto4").change(function () {
                readURL(this, "#foto4_pic");
            });
        });
    </script>
}