@model Flats.Views.Manage.Settings

@{
    ViewBag.Title = "EditSetting";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Редактирование настройки</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            <label class="control-label col-md-2" for="setting_key">Настройка</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.setting_key, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.setting_key, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="setting_value">Значение</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.setting_value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.setting_value, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Записать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться", "Index")
</div>
